#table td a
{
    color: dimgray;
    cursor: auto;
}

.artTitle
{
    margin-top: 10em;
    margin-bottom: 5em;
}

#vedioSubject
{
    font-size: 1.8em;
    color: dimgray;
}

#vedioForm 
{
    margin-top: 10em;
    margin-bottom: 5em;
}

@media screen and (min-width: 769px)
{
    .artTitle
    {
        margin-left: 20%;
    }
    
    #table 
    {
        max-width: 50%;
        margin-left: 20%;
        font-size: 1.2em;
    }
    
    #vedioForm
    {
        width: 75%;
        margin-left: 20%;
        font-size: 1.1em;
    }
    
    #vedioSubject
    {
        font-size: 1.1em;
    }

    .youtubeVideo 
    {
        width: 60%;
        height: 60%;
        margin-left: 10%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px)
{
    .artTitle
    {
        max-width: 50%;
        margin-left: 20%;
    }
    
    #table 
    {
        max-width: 80%;
        margin-left: 10%;
        font-size: 1em;
    }
    
    #vedioForm
    {
        width: 80%;
        margin-left: 10%;
        font-size: 1.1em;
    }
    
    #vedioSubject
    {
        font-size: 1.1em;
    }

    .youtubeVideo 
    {
        width: auto;
        max-height: auto;
    }
}

@media screen and (max-width: 320px)
{
    .artTitle
    {
        max-width: 50%;
        margin-left: 20%;
    }
    
    #table 
    {
        max-width: 90%;
        margin-left: 5%;
        font-size: 1em;
    }
    
    #vedioForm
    {
        width: 90%;
        margin-left: 5%;
        font-size: 1em;
    }
    
    #vedioSubject
    {
        font-size: 1em;
    }

    .youtubeVideo 
    {
        width: auto;
        max-height: auto;
    }
}