body{ 
    font-family: 微軟正黑體,arial,helvetica,sans-serif;
    background-color:#F4F4F4;
}

.myDiv{
	white-space: nowrap; /* 不斷行 */
    margin-top: 2%;
}

.myDiv ul{
    width: 80%;
    margin: auto;
    padding: 0px;
}

.myDiv ul li{
    display: inline-block;
    margin-left: 4.15%;
    margin-right: 4.15%;
    width: 25%;
}

.ui-dialog{
    position: fixed;
}

#dialog-form{
    background-color: white;
    width: 50%;
}


element.style {
    width: 50%;
    
}
#input_table{
    margin-top:180px;
    border-collapse: separate;
    border:5px #ccc solid;
    border-radius:10px;
    background-color:white;
}

.Input{
    border-style:none;
    border-bottom-style: solid;
}

#input_area{
    font-size: 20px;
    resize: none;
}

.sendbutton{
    border-style:none;
    color:antiquewhite;
    background-color: red;
    padding:10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius:10px;
    margin-right: 30px;
    margin-bottom:10px;
    margin-top:1em;
}

#message_table{
    width:100%;
    display: inline-table;
}

#category{
    background-color: orange;
    padding:10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:10px;
    margin-bottom:0px;
    border: 0px;
}

.message_row{
    background-color:white;
}

#td_1{
    border-collapse: separate;
    border-top: 5px #ccc solid;
    border-left: 5px #ccc solid;
}

#td_2{
    border-collapse: separate;
    border-top: 5px #ccc solid;
    border-right: 5px #ccc solid;
    text-align: right;
}

.tr_2{
    border-collapse: separate;
    border-left: 5px #ccc solid;
    border-right: 5px #ccc solid;
}

#td_3{
    border-collapse: separate;
    border-bottom: 5px #ccc solid;
    border-left: 5px #ccc solid;
    border-right: 5px #ccc solid;
}

#topic_label{
    font-size: 1.5em;
    padding-left: 30px;
}

#time_label{
    padding-left: 30px;
}

.content_area{
    border-style: none;
    border: 0px;
    font-size: 2em;
    resize:none;
}

#reply_topic{
    font-size: 2em;
}

#reply_content_area{
    border-style: none;
    border: 0px;
    font-size: 1.5em;
    background-color: white;
    margin-top: 1em;
}

.name_label{
    background-color: darkgrey;
    color: white;
    width: 4em;
    height: 4em;
    font-weight: bold;
    font-size:1.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 99em;
}

.reply_name_label{
    background-color: darkgrey;
    color: white;
    width: 5em;
    height: 5em;
    font-weight: bold;
    font-size:0.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-radius: 99em;
}

#replybutton{
    border-style:none;
    color:antiquewhite;
    background-color: orangered;
    padding:15px;
    border-radius:10px;
    margin-right: 30px;
    margin-bottom:10px;
}