@charset "utf-8";
body{ 
    font-family: 微軟正黑體,arial,helvetica,sans-serif;
	
}

.img-full {
	width: 100%;
	height: 100%;
	padding-top: 3%;
}
.footer{	
	margin-top: 100px;
}	

.header-image {
	overflow: hidden;
	margin-top: 94px;
}

.header-image {
	display: block;
	margin-bottom: 30px;
	max-height: 400px;
	position: relative;
	margin-top: 29px;
}
.row-space-huge {
	padding-top: 1px;
}
.row-space {
	padding-top: 3px;
}
.row {
	margin-left: 4%;
	margin-right: 51%;
	margin-top:30px;
	
}

.r2 {
	margin-left: 4%;
	margin-right: 51%;
	margin-top:10%;
}

.r1 {
	margin-left: 8%;
	margin-right: 51%;
}

.r {
	
	margin-left: 4%;
	margin-right: 51%;
}

.r4{
	margin-top:200px;
	margin-left: 4%;
	margin-right: 51%;
}

.h1, h1 {
    font-size: 41px;
	font-weight: bolder;

}
.map{
	position: absolute;
	top: 620px;
	right: 55px;
}
.structure{
	position: absolute;
	top: 1280px;
	right: 200px;
}
strong {
	font-size: 23px;	
}

.bodytext{
    color:#321414;
}
.co{
	margin-left: 10%;
}

.col-sm-2 {
    width: 50%;
    float: left; 
}
.col-sm-3 {
    width: 100%;
    float: left; 
}
.col-sm-4 {
    width: 33.333333%;
    float: left; 
}