#table 
{
    margin-top: 10em;
    margin-bottom: 5em;
}

.digital 
{
    color: dimgray;
}

#table td a
{
    color: dimgray;
    cursor: auto;
}

@media screen and (min-width: 769px)
{
    #table {
        max-width: 50%;
        margin-left: 20%;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px)
{
    #table {
        max-width: 90%;
        margin-left: 5%;
        font-size: 1em;
    }
}

@media screen and (max-width: 320px)
{
    #table {
        max-width: 95%;
        margin-left: 2.5%;
        font-size: 1em;
    }
}