
#table {
    max-width: 50%;
    margin-left: 20%;
    margin-top: 10em;
    font-size: 1.2em;
}

#table1 {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 2em;
    font-size: 1.2em;
}
#table1 td {
    text-align: center;
}

.digital {
    color: dimgray;
}
