#newsForm 
{
    margin-top: 10em;
    margin-bottom: 5em;
}

.magslink
{
    color: dimgray;
}

@media screen and (min-width: 769px)
{
    #newsForm 
    {
        width: 75%;
        margin-left: 15%;
        font-size: 1.1em;
    }
    
    .magslink
    {
        font-size: 1.1em;
    }
    
    #newsSubject
    {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px)
{
    #newsForm 
    {
        width: 80%;
        margin-left: 10%;
        font-size: 1.1em;
    }
    
    .magslink
    {
        font-size: 1.1em;
    }
    
    #newsSubject
    {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 320px)
{
    #newsForm 
    {
        width: 90%;
        margin-left: 5%;
        font-size: 1em;
    }
    
    .magslink
    {
        font-size: 1em;
    }
    
    #newsSubject
    {
        font-size: 1.1em;
    }
}
