@charset "utf-8";
body{ 
    font-family: 微軟正黑體,arial,helvetica,sans-serif;
	
}

.h5 {
    height: 5px;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.h5:after{
 content:"";
  position: absolute;
  height: 5px;
  right: 0;
  bottom: 0;
  left:0;
  background-color: #E9E9E9;
  border: 1px solid lightgray;
}

.link_01:hover {
    color: red;
    font-size:15px; 
    letter-spacing: 0px;
    text-decoration:underline;
}

.link_01 {
     line-height: 150%; 
     color: #666666; 
     font-size: 15px; 
     letter-spacing: 0px; 
     text-decoration: none; 
	 font-weight: bolder;

}